# Virtual Environment
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc

# Logs
*.log

# Database
*.db

# IDE
.vscode/

# OS Files
.DS_Store
Thumbs.db

storage/database/*.db

storage/uploads/

storage/temp/

storage/logs/

.vscode/